name: Build and Release JAR

on:
  push:
    tags:
      - "v*"  

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Grant execute permissions for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew clean build -x test

      - name: Upload JAR to artifacts
        uses: actions/upload-artifact@v4
        with:
          name: built-jar
          path: app/build/libs/*.jar

  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download built JAR artifact
        uses: actions/download-artifact@v4
        with:
          name: built-jar
          path: ./release_files

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: ./release_files/*.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
